* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*background: color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  transition: 0.5s;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  /*height:712px;*/
  /*border: 1px solid red;*/
  margin: 56px auto 0px;
  padding: 0 24px;
}

/*profile*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto; /*em elementos display inline, como a div, não é possível aplicar margin auto --- alterar para display block ----- também podemos aplicar alteração no pai do elemento (no caso, #profile) e determinar que seus elementos-filhos obedeçam suas características*/
  display: block;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

/*switch*/
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  /* animation: leftToRight 0.5s; */
}

.light #switch button {
  right: 0;
  left: initial;
  /* animation: rightToLeft 0.5s; */
}

/* @keyframes rightToLeft {
  from {
    left: 0;
  }
  to {
    left: 32px;
  }
}
@keyframes leftToRight {
  from {
    left: 32px;
  }
  to {
    left: 0px;
  }
} */

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px; /*adiciona espaço entre os elementos, nem em cima e nem embaixo*/

  padding: 24px 0;
}

ul li a {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border-radius: 8px;
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

/*pseudo-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border-radius: 8px;
  border: 1.5px solid white;
}

/*social links */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}
